.header{
    gap:1rem;
    padding: 1rem;
    position: fixed; 
    top: 0; left: 0; right: 0; 
    
    z-index: 100;
    box-shadow: 0px 4px 8px rgba(0,0,0,.1) ;
    background-color: rgb(255, 255, 255) ;
    height: 702x;
  }